<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
      <a href="#" class="navbar-brand">Aquatic Food PD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collaspe navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="onChangeAquaticFood()">Aquatic Food</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="onChangeDistribution()">Distribution</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
