<ng-template appPlaceholder></ng-template>
<div class="row mt-4">
  <div class="col-12 col-md-6 offset-md-3">
    <!-- <div class="alert alert-danger">
      <p>{{error}}</p>
    </div> -->
    <app-alert (close)="onHandleAlert()" *ngIf="error" [message]="error"></app-alert>
    <div *ngIf="isLoading" class="mt-5">
      <app-loading-sinner></app-loading-sinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-floating md-2">
        <input type="email" class="form-control bg-primary p-2" style="--bs-bg-opacity: .1;" id="floatingInput" placeholder="name@example.com"
        ngModel
        name="email"
        required
        email>
        <label for="floatingInput">อีเมล์</label>
      </div>
      <div class="form-floating md-3 mt-2">
        <input type="text" class="form-control bg-primary p-2" style="--bs-bg-opacity: .1;" id="floatingPassword" placeholder="Password"
        ngModel
        name="password"
        required
        minlength="6">
        <label for="floatingPassword">รหัสผ่าน</label>
      </div>
      <div>
        <button class="btn btn-primary me-3 mt-2" type="submit"
        [disabled]="!authForm.valid">{{isLoginMode?'เข้าใช้ระบบ':'ลงทะเบียน'}}</button>
        <button class="btn btn-success mt-2" type="button"
          (click)="onSwitchMode()">ปรับไปเป็นการ {{!isLoginMode?'เข้าใช้ระบบ':'ลงทะเบียน'}}</button>
      </div>
    </form>
  </div>
</div>
