<div *ngIf="signupForm">
  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
    <div *ngIf="submitEvent === true" class="row">
      <div class="alert alert-success">
        <h5>{{!aquaticInput?'สร้าง':'บันทึก'}}รายการสินค้าเรียบร้อย</h5>
        <hr />
        <p>
          ตอนนี้ข้อมูลได้{{!aquaticInput? 'สร้าง' : 'บันทึก'}}ลงบนฐานข้อมูลแล้วคุณสามารถแก้ไขข้อมูลเพิ่มเติมบนหน้านี้ต่อได้ทันที
          แล้วทำการกดบันทึกใหม่เพื่อบันทึกข้อมูลปัจจุบัน
          <br>
          <br>
          แต่ถ้าต้องการสร้างรายการใหม่ให้ "ยกเลิกรายการ" ก่อนจะกดที่ "สร้างรายการสินค้าอาหารทะเล"
        </p>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <button [disabled]="signupForm.invalid" type="submit" class="btn btn-success">
          บันทึกข้อมูล
        </button>
        <button type="button" routerLink="/AquaticFoods" class="ms-2 btn btn-danger">
          ยกเลิกรายการ
        </button>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label class="form-label" for="">ชื่อสินค้า</label>
        <input class="form-control" type="text" formControlName="name" #nameInput />
        <span *ngIf="
            !signupForm.get('name')?.value && signupForm.get('name')?.touched
          " class="telp-block mb-2">กรุณากรอกใหม่</span>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label class="form-label" for="">สินค้ารับเข้าคลัง</label>
        <input class="form-control" type="number" formControlName="quantity" #quantityInput />
        <span *ngIf="
            !signupForm.get('quantity')?.value &&
            signupForm.get('quantity')?.touched
          " class="telp-block mb-2">กรุณากรอกใหม่</span>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label class="form-label" for="">URL ของภาพประกอบ</label>
        <input class="form-control" type="text" formControlName="url" #urlInput />
        <span *ngIf="
            !signupForm.get('url')?.value && signupForm.get('url')?.touched
          " class="telp-block mb-2">กรุณากรอกใหม่</span>
        <img class="md-3 mt-3 col-12" *ngIf="signupForm.get('url')?.value && signupForm.get('url')?.touched"
          src="{{ signupForm.value.url }}" alt="" />
        <img class="md-3 mt-3 col-12" *ngIf="!signupForm.get('url')?.value"
          src="https://img.lovepik.com/free-png/20210927/lovepik-camera-icon-png-image_401572796_wh1200.png" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">รายละเอียดเกี่ยวกับสินค้า</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="detail"
          #detailTextarea></textarea>
      </div>
    </div>
    <div class="row">
      <div class="md-3" formArrayName="menu">
        <h4>ตัวอย่าง ชื่อเมนูอาหาร จากวัตถุดิบนี้</h4>
        <div class="row mt-1" *ngFor="let manuControl of controls; let i = index">
          <div class="btn-group">
            <input type="text" class="ms-1 form-control" [formControlName]="i" />
            <button class="btn btn-danger" type="button" (click)="onDeleteMenu(i)">
              X
            </button>
          </div>
        </div>
        <button class="mt-2 btn btn-success" type="button" (click)="onAddMenu()">
          Add menu
        </button>
      </div>
    </div>
  </form>
</div>
