<app-loading-sinner *ngIf="!isLoad"></app-loading-sinner>
<div *ngIf="isLoad">

  <div *ngFor="let foodList of aquaticFood; let i = index">

    <div *ngIf="foodList">

      <a [routerLink]="['/AquaticFoods', foodList._id]" routerLinkActive="active" class="list-group-item clearfix">
        <div class="float-start">

          <span>
            <h4 class="list-group-item-heading">{{ foodList.name }}</h4>
            <p class="list-group-item-text">{{ foodList.description }} </p>
          </span>

        </div>

        <div class="float-end">
          <img src="{{ foodList.imagePath }}" alt="{{ foodList.name }}" class="img-responsive"
            style="max-width: 50px" />
        </div>

      </a>

    </div>

  </div>
</div>
