<form #f="ngForm">
  <div class="row mb-2">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Aquatic Name"
        aria-label="Aquatic Name"
        ngModel
        name="aquaticNameInput"
        [ngModel]="distribution.name"
        required
      />
    </div>
    <div class="col">
      <input
        type="number"
        class="form-control"
        placeholder="Qty"
        aria-label="qunatity"
        [files]=""
        ngModel
        name="qunatityInput"
        [ngModel]="distribution.quantity"
        required
        pattern="[0-9]+"
      />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <button
        type="submit"
        class="btn btn-success me-2"
        (click)="addDistridutionOnEdit()"
        [disabled]="f.invalid"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-danger me-2"
        (click)="updateDistridutionOnEdit()"
        [disabled]="f.invalid"
      >
        Update
      </button>
      <button type="reset" class="btn btn-primary me-2">Clear</button>
    </div>
  </div>
</form>
