<form action="">
  <div class="row mb-2">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Aquatic Name"
        aria-label="Aquatic Name"
        #aquaticNameInput
      />
    </div>
    <div class="col">
      <input
        type="number"
        class="form-control"
        placeholder="Qty"
        aria-label="qunatity"
        [files]=""
        #qunatityInput
      />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
        <button type="button" class="btn btn-success me-2" (click)="addDistridutionOnEdit(aquaticNameInput,qunatityInput)">Add</button>
        <button type="button" class="btn btn-danger me-2">Update</button>
        <button type="button" class="btn btn-primary me-2">Clear</button>
    </div>
  </div>
</form>
