<div *ngIf="aquaticFood">
  <div class="row">
    <div class="col-12">
      <img
        src="{{ aquaticFood.imagePath }}"
        alt="{{ aquaticFood.name }}"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>
        {{ aquaticFood.name }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          จัดการสินค้า
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a
              class="dropdown-item"
              [routerLink]="['/AquaticFoods', aquaticFood.name, 'edit']"
              >แก้ไขข้อมูลสินค้า</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              (click)="onDeleteAquatic()"
              routerLink="/AquaticFoods"
              >ลบสินค้าชิ้นนี้</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
       <h6>{{ aquaticFood.description }}</h6>
      <span *ngFor="let item of aquaticFood.menu"> {{ item }} </span>

    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <hr>
      <div class="row border">
        <div class="col-4 "> <span class="">จำนวนสินค้าทั้งหมด </span></div>
        <div class="col-2 "><span class="">{{ aquaticFood.quantity }}</span></div>
      </div>
      <div class="row border">
        <div class="col-4 "><span class=""> จำนวนการสั่งซื้อ </span></div>
        <div class="col-2 "><span class="">{{ distribution.quantity }}</span></div>
      </div>
      <div class="row border">
        <div class="col-4 "><span class=""> จำนวนสินค้าที่มีอยู่ </span></div>
        <div class="col-2 "><span class="">{{ aquaticFood.quantity-distribution.quantity }}</span></div>
      </div>
      <hr>
    </div>
  </div>
</div>
