<div class="row">
  <div class="col-12">
    <img
    src="{{data.imagePath}}"
    alt="{{data.name}}"
    class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>
      {{data.name}}
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false">
        Manage Aquatic Food & On Hand
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="new">Add Received Qty</a></li>
        <li><a class="dropdown-item" [routerLink]="['index','edit']">Edit Received Qty</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{data.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Aquatic Food Received Qty & on Hands
  </div>
</div>
