<h3>รายการ จอง/ซื้อ สินค้าอาหารทะเล</h3>

<div class="row">
  <div class="col-md-10 mt-3">
    <app-distribution-edit></app-distribution-edit>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <ul class="list-group">

      <div
        *ngFor="let item of distributions"
        class="list-group-item"
        style="cursor: pointer"
      >
        <div (click)="onInput(item)">
          <a> {{ item.name }}  ({{ item.quantity }}) </a>
        </div>
      </div>

    </ul>
  </div>
</div>
