<div *ngFor="let footList of aquaticFood">
    <a [routerLink]="['/AquaticFoods','detail',footList.name]" routerLinkActive="active" class="list-group-item clearfix">
      <div class="float-start">
        <span>
        <h4 class="list-group-item-heading">{{footList.name}}</h4>
        <p class="list-group-item-text">{{footList.description}}</p>
      </span>

      </div>
      <div class="float-end border">
        <img
        src={{footList.imagePath}}
        alt={{footList.name}}
        class="img-responsive"
        style="max-width:50px;">
      </div>
      </a>
</div>
